<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="../../../static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная страничка</title>
</head>
<body>

    <div class="btn_R"><a href="page_top.html"><img src="../../../static/css/images/red.png" class="img_red"></a></div>
    <div class="btn_Y"><a href="page_category.html"><img src="../../../static/css/images/yellow.png" class="img_yellow"></a></div>
    <div class="btn_G"><a href="page_top.html"><img src="../../../static/css/images/green.png" class="img_green"></a></div>
    <div class="btn_B"><a href="page_4.html"><img src="../../../static/css/images/blue.png" class="img_blue"></a></div>

</body>
</html>