{% extends "comics_site/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div id="sidebar">
    <h3>Categories</h3>
    <ul>
        <li {% if not category %}class="selected" {% endif %}>
            <a href="{% url 'comics_site:comics_list' %}">All</a>
        </li>
        {% for c in categories %}
        <li {% if category.slug == c.slug %} class="selected" {% endif %}>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div id="main" class="comic-list">
    <h1>{% if category %}{{ category.name }}{% else %}Comics{% endif %}</h1>
    {% for comic in comics %}
    <div class="item">
        <a href="{{ comic.get_absolute_url }}">
            <img src="{% if comic.photo %}{{ comic.photo.url }}{% else %}{% static 'img/no_image.png' %}{% endif%}">
        </a>
        <a href="{{ comic.get_absolute_url }}">{{ comic.name }}</a><br>

    </div>
    {% endfor %}
</div>
{% endblock %}